# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
.cache/
pip-cache/

# Environments
.env
.env.local
.env.*.local
.venv/
venv/
ENV/
env/
ENV.BAK/
venv.bak/

# Testing
.coverage
.coverage.*
.cache
.pytest_cache/
.coverage.xml
*.cover
.hypothesis/
reports/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Logs
logs
*.log

# Build artifacts
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Deployment
docker-compose.override.yml


uploads/
*.tmp
*.temp

# Jupyter Notebook
.ipynb_checkpoints

# Local database
*.sqlite
*.db

# OS
Thumbs.db